RewriteEngine On

# Ne pas réécrire si le fichier demandé existe
RewriteCond %{REQUEST_FILENAME} !-f
# Ne pas réécrire si le dossier demandé existe
RewriteCond %{REQUEST_FILENAME} !-d
# Ne pas réécrire si l'URL cible le dossier des contrôleurs
RewriteCond %{REQUEST_URI} !^/controllers/(.*)$
RewriteRule ^(.*)$ index.php [QSA,L]
RewriteCond %{QUERY_STRING} .
