body {
    color: white; /* couleur texte */
    text-align: center; /*alignement du texte*/
    border-radius: 30px; /* épaisseur bordure*/
    background-color: #004080; /*couleur de fond*/
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10em; /* largeur marge à gauche */
    margin-right: 10em; /* largeur marge à droite*/
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
    border: solid; /*définition de la bordure (sans dégradé, solide)*/
    border-color: #0073e6;/*couleur bordure*/
    font-family: Arial, Helvetica, sans-serif;/*police de caractères*/
}button{
    vertical-align: 25px;/* alignement vertical*/
    text-align: center;/*alignement texte*/
    padding: 10px 20px;
    border: none; /*pas de bordure*/
    background-color: #0073e6; /* Couleur des boutons */
    color: white;/*couleur du texte*/
    cursor: pointer; /*quel curseur souris quand passage dessus*/
    font-weight: bold;
    transition: background-color 0.3s ease;/*transition quand appui*/
}input{
    vertical-align: 25px;
    background-color: white;/*couleur de fond de l'entrée/espace de saisie clavier*/
}label{
    vertical-align: 25px;
    color: white;
    justify-self: start;
}form{
    text-align: center;
}
html{
    background-color: #f4f4f4;/* couleur de fond générale hors body, head etc...*/
}

@media screen and (min-width: 780px) {
    h1 {
        font-size: 37px; /* Taille de la police pour les titres */
    }

    label {
        font-size: 25px; /* Taille des labels */
    }

    input, button {
        font-size: 25px; /* Taille des champs de texte et du bouton */
    }
}
